
<h1>Log In</h1>
  <form ng-submit="ctrl.logIn()">
    <input type="text" placeholder="username" ng-model="ctrl.loginUsername"/>
    <input type="password" placeholder="password" ng-model="ctrl.loginPassword"/>
    <input type="submit" value="Log In">
  </form>
