<nav class="navbar"role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/"> <img src="/img/logo.png" alt="stayHuman logo" >

    <ul>
      <li><a href="/sessions/new">Log In</a></li>
      <li><a href="/users/new">Register</a></li>
    </ul>


  </div>

  </nav>
