<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title></title>
      <script>
        $(document).ready(function(){
          $("p").on("click", function(){
            $(this).appendTo("#completed");
          });
        });

      </script>
  </head>
  <body>

  <div class="columns">
    <div id="to-do-list">
    <div class="column">
  <h1 class="title">Tasks for Today </h1>
    <p id="snack">Eat a snack</p>
    <p id="nap">Take a nap</p>
    <p id="walk">Go for a walk</p>
    <p id="fruit">Eat some fruit</p>
    <p id="tv">Watch a TV show</p>
    <p id="record">Listen to a record</p>
    <p id="call">Call a friend</p>
    <p id="hug">Give someone a hug</p>
    <p id="water">Drink some water</p>
    <p id="shower">Take a shower</p>
    <p id="read">Read for 20 minutes</p>

  </div>


    </div>
  </div>

  <div class="column">
    <div id="completed">
  <h1 class="title">Completed Tasks</h1>

    </div>
  </div>





  </body>
</html>
