<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title></title>
      <script>
        $(document).ready(function(){
          $("p").on("click", function(){
            $(this).appendTo("#completed");
          });
        });

      </script>
  </head>
  <body>
<div class="container">

    <div class="column">
      <div id="to-do-list">
  <h1 class="title">Tasks for Today </h1>
    <p id="snack">eat a snack</p>
    <p id="nap">take a nap</p>
    <p id="walk">go for a walk</p>
    <p id="fruit">eat some fruit</p>
    <p id="call">call a friend</p>
    <p id="water">drink water</p>
    <p id="shower">take a shower</p>
    <p id="read">read </p>
      </div>
  </div>



  <div class="column">
    <div id="completed">
  <h1 class="title">Completed Tasks</h1>

    </div>
  </div>
</div>




  </body>
</html>
