<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="/css/main.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script
          src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
        <title>Stay Human</title>
    </head>
    <body>

      <section class="hero is-light is-bold">
      <div class="hero-body">
        <div class="container">
          <div id="header">
          <h1 class="title">Stay Human</h1>
            <h2 class="subtitle">An app to help you stay more than just alive.</h2>

          <h1 class="custom">
             <% if(currentUser) { %>
                 Welcome <%=currentUser.username%>!
             <% } else { %>

             <% } %>
          </h1>

          <h2 class="logout">
            <% if(currentUser) { %>

              <form action="/sessions?_method=DELETE" method="POST">
                  <input type="submit" value="LOGOUT"/>
              </form>

          <% } %>
          </h2>

          <section class="section">
          <% include ../partials/navbar.ejs %>
          </section>




          <section class="section">
          <% include ../partials/tasks.ejs %>
          </section>

        </div>

      </div>
      </div>
      </div>

    </body>
</html>
