<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="/css/main.css">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script
          src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
        <title>Stay Human</title>
    </head>
    <body>

        <div class="nav">
        <% include ../partials/navbar.ejs %>
        </div>

        <div class="container">
          <div class="header">
            <h1>stay human</h1>
            <h2>An app to help you stay more than just alive.</h2>
            <h3>Are you overworked and stressed out??? Simply use this app as a reminder to take care of yourself. Choose 1 task at a time when you are feeling overwhelmed or frustrated. If you end the day with more items in the 'Completed Tasks' category you win the game (of adulting)!</h3>


          </div>






          <section class="section">
          <% include ../partials/tasks.ejs %>
          </section>

        <!-- </div> -->


      </div>
      </div>

    </body>
          <section class="footer">
            <% include ../partials/footer.ejs %>
          </section>

</html>
