<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/main.css">
        <script
          src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>

    </head>
    <body>

      <div id="container">
        <div id="header">
          <h1>Stay Human</h1>
            <h2>An app to help you stay more than just alive.</h2>

          <% include ../partials/login.ejs %>

          <% include ../partials/tasks.ejs %>
        </div>


      </div>

    </body>
</html>
