@font-face {
  font-family: 'TheSaturday-Clean';
  src: url(/fonts/TheSaturday-Clean.otf);
}
@font-face {
  font-family: 'Steadfast-Regular';
  src: url(/fonts/Steadfast-Regular.otf);
}
@font-face {
  font-family: 'ServiceStation-Regular';
  src: url(/fonts/ServiceStation-Regular.otf);
}
@font-face {
  font-family: 'Wunderland';
  src: url(/fonts/Wunderland.otf);
}

*{
  background: url(/img/beige_paper.png);
}

.header{
  height: 300px;
  text-align: center;
  color: brown;
  font-family: 'Steadfast-Regular',Fallback, sans-serif ;

}

 .header > h1{

  font-size: 90px;
}

.header > h2{
  font-family: 'Wunderland',Fallback, sans-serif ;
  font-size: 35px;
}

.header > h3 {
  font-family: 'Wunderland',Fallback, sans-serif ;
  font-size: 25px;
  color: black;
}
.container {
  width: 100%;
  display: flex-box;
  grid-template-columns: auto auto;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  border-radius: 10px;

}

.column{
  width: 100%;
  height: 200px;
  /* position: relative; */

}

/* TASKS  */

.section{
/* border: solid pink 2px; */
}

#to-do-list, #completed {
  /* border: solid pink 2px; */
}

#to-do-list, #completed > h1 {
  /* border: solid pink 2px; */
  font-family: 'Steadfast-Regular',Fallback, sans-serif ;
  font-size: 36px;
}

p {
  font-family: 'Wunderland',Fallback, sans-serif ;
  font-size: 18px;
  color: white;
  border: solid black 2px;
  text-align: center;
  width: 90px;
	height: 90px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  line-height: 0;
  display: table-cell;
  vertical-align: middle;

}


#snack {
  background: #1855A5;
}
#nap {
  background: #2C81D2;
}
#walk {
  background: #75B6E0;
}
#fruit {
  background: #AACDE1;
}
#record {
  background: #AACDE1;
}
#call {
  background: #647D7A;
}
#water {
  background: #857B62;
}
#shower {
  background: #4C4727;
}
#read {
  background: #997D58;
}


/* NAVBAR LOGIN REGISTER  */
.nav{
  height: 100px;

}

a {
  font-size: 12px;
  color: #2196F3;
  text-decoration: none;
  align-items: right;
}

a:hover {
  color: white;
}


.navbar{
  height: 30px;
  text-align: right;

}

.createUser, .loginUser {
  height: 40px;
  font-family: 'Wunderland' ;
  size: 54px;
  text-align: center;

}

.loginUser, .createUser > form{
  font-family: 'Wunderland' ;
  color: brown;
  /* background: url(https://i.imgur.com/X6doB3v.jpg); */
  /* background-size: cover;
  background-position: center; */
  width: 100%;
  height: 600px;
  display: inline-block;
  max-width: 500px;
  padding: 10px 20px;
  margin: 10px 0;

}

.input {
  height: 30px;
  border: 1px solid black;
}


.custom {
  font-family: 'Wunderland';
  size: 32px;
  height: 20px;
  width: 30px;
}

.login {
  text-align: center;
  font-family: 'ServiceStation-Regular',Fallback, sans-serif ;
  font-size: 16px;
}


/* FOOTER */

.footer {
  display: inline-block;
  font-family: 'ServiceStation-Regular',Fallback, sans-serif ;
  align-content: center;
}
