@font-face {
  font-family: 'TheSaturday-Clean';
  src: url(/fonts/TheSaturday-Clean.otf);
}
@font-face {
  font-family: 'Steadfast-Regular';
  src: url(/fonts/Steadfast-Regular.otf);
}
@font-face {
  font-family: 'ServiceStation-Regular';
  src: url(/fonts/ServiceStation-Regular.otf);
}

*{
  background: url(/img/beige_paper.png);
}

.header{
  height: 200px;
  text-align: center;
  color: brown;
  font-family: 'Steadfast-Regular',Fallback, sans-serif ;

}

 .header > h1{

  font-size: 90px;
}

.header > h2{
  font-size: 25px;


}
.container {
  width: 100%;
  display: flex-box;
  grid-template-columns: auto auto;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  border-radius: 10px;

}

.nav{
  border: solid red 2px;
  height: 100px;

}


.login {
  text-align: left;
  color: black;
  font-family: 'ServiceStation-Regular',Fallback, sans-serif ;
  text-decoration-color: black;
}
a {
  background-color: white;

}

.column{
  width: 100%;
  height: 200px;
  /* position: relative; */

}



p {
  font-family: 'Steadfast-Regular',Fallback, sans-serif ;
  font-size: 18px;
  color: white;
  border: solid black 2px;
  text-align: center;
  width: 90px;
	height: 90px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  line-height: 0;

  display: table-cell;

  vertical-align: middle;




}


#snack {
  background: pink;
}
#nap {
  background: red;
}
#walk {
  background: blue;
}
#fruit {
  background: green;
}
#record {
  background: purple;
}
#call {
  background: orange;
}
#water {
  background: teal;
}
#shower {
  background: gray;
}
#read {
  background: brown;
}






.createUser {
  background-image: url(/img/gplaypattern.png);
  font: serif;

}

.loginUser {
  background-image: url(/img/gplaypattern.png);
  height: 500px;
}

.loginUser form{
  /* border: solid gold 2px; */
  position: fixed;
  max-width: 500px;
  padding: 10px 10px;
  margin: 10px 0;
  box-sizing:border-box;

}



.navbar-item, img {
  height: 30px;
}
