@font-face {
  font-family: 'TheSaturday-Clean';
  src: url(/fonts/TheSaturday-Clean.otf);
}

h1 {
  font-family: 'TheSaturday-Clean', Fallback, sans-serif;
  font-size: 30px;
  color: white;
}
.container {

  background-image: url(/img/tileable_wood_texture.png);

}

#to-do-list, #completed {
  border: solid navy 2px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

p {
  border: solid black 2px;
  text-align: center;
  width: 50px;
	height: 50px;
	background: gray;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}












.createUser {
  background-image: url(/img/gplaypattern.png);
  font: serif;

}

.loginUser {
  background-image: url(/img/gplaypattern.png);
  height: 500px;
}

.loginUser form{
  /* border: solid gold 2px; */
  position: fixed;
  max-width: 500px;
  padding: 10px 10px;
  margin: 10px 0;
  box-sizing:border-box;

}
