<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/main.css">
        <title></title>
    </head>
    <body>

      <div class="loginUser">
          <h2>Sign In</h2>

            <form action="/sessions" method="POST">

                Username:<input class="input"type="text" name="username"/>

                Password:<input class="input"type="password" name="password"/>

                <input type="submit" value="Log In"/>
            </form>
           
      </div>

      <img src="(img/stayhuman.png)" alt="">
    </body>
</html>
