<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/main.css">
        <title></title>
    </head>
    <body>
      <div class="loginUser">
        <div class="field">
          <label class="label">Sign In</label>
          <div class="control">
            <form action="/sessions" method="POST">
                <input class="input"type="text" name="username" placeholder="username"/>
                <input class="input"type="password" name="password"/>
                <input type="submit" value="Log In" />
            </div>
        </form>
        </div>
      </div>
    </body>
</html>
